.body,html {
	background:	linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.7)),
				url("images/background.png");
				background-position: center center;
				background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

@import url(//db.onlinewebfonts.com/c/ea08883bf947751b7d953f37d4eb5d05?family=Malgun+Gothic);

.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.pageTitle {
	font-size: 15vh;
	margin: 10px;
	margin-top:8%;
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(206,183,141,1) 6%, rgba(145,94,0,1) 85%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}


.pageTitle::after {
	position:relative;
	font-size: 15pt;
	content: "Made by JCMS";
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(206,183,141,1) 6%, rgba(145,94,0,1) 85%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}


.PasteArea {
	border-radius: 5px;
	resize: none;
	outline: none;
	background: #201c29;
	color:white;
	caret-color: transparent;
}

.PasteArea::placeholder {
	text-align: center;
	padding-top: 18%;
	font-size: 4vh;
}

.PasteArea:hover::placeholder {
	color: lightgray;
}


.submitButton {
	font-family: "Malgun Gothic";
	background:#201c29;
	font-size:5vh;
	color: #00FF59;
}

.infoButton {
	background:#201c29;
	font-size:4vh;
	color:white;
}


.infoButton:after {
	font-size:5vh;
	content: "🛈";
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(206,183,141,1) 6%, rgba(145,94,0,1) 85%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.submitButton:active {
	background:#2f293d;
}

.infoButton:active {
	background:#2f293d;
}

.noselect {
	user-select: none;
}